{% extends 'base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'journals/css/home.css' %}" />
{% endblock %} {% block content %}
<!-- DISPLAY SLOGAN -->
<div class="homeView">
  <div class="hero-container">
    <h1 class="hero-text">Have a</h1>
    <img
      class="hero-img"
      alt="Jabbel"
      src="{% static 'images/Jabbel_Title.png' %}"
    />
  </div>
</div>

<!-- DISPLAY TOP 3 RECENT JOURNALS -->
<section class="recentJournal">
  <div class="recentJournal-section left">
    <p class="section-title">Top 3 Recent Journals</p>
    <button class="recentJournal-btn">Create Entry</button>
  </div>
  <div class="recentJournal-section bottom">
    <div class="square">Entry 1</div>
    <div class="square">Entry 2</div>
    <div class="square">Entry 3</div>
  </div>
</section>
{% endblock %}
