{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'journals/css/listJournals.css' %}" />
  <link rel="icon" type="image/x-icon" href="{% static 'journals/images/Jabbel_Icon.ico' %}" />
  <link rel="stylesheet" href="https://use.typekit.net/mwa1ymd.css" />
  <title>Journals</title>
</head>

<body>
  <header class="entryHeader">
    <!-- Grouped Back Button and Title -->
    <div class="header-left">
      <a href="{% url 'journals:home' %}" class="back-btn" aria-label="Go back">
        <svg viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor">
          <line x1="19" y1="12" x2="5" y2="12"></line>
          <polyline points="12 19 5 12 12 5"></polyline>
        </svg>
      </a>
    </div>

    <div class="profilePic-Box">
      <!-- Using a placeholder image  -->
      <img src="https://ui-avatars.com/api/?name=User&background=random" alt="Profile" />
    </div>
  </header>

  <main class="entryView">
    <section class="recentJournal">
      <!-- Title and Action Button -->
      <div class="recentJournal-section left">
        <p class="section-title">{{ user.username }}'s Journals</p>
        <a href="{% url 'journals:createJournal' %}" class="recentJournal-btn">Create Journal</a>
      </div>

      <!-- Grid of Entries -->
      <div class="recentJournal-section bottom"></div>
      {% if journals|length == 0 %}
      <div class="no-journals-message">
        <p>
          No journals found. Click "Create Journal" to add your first journal!
        </p>
      </div>
      {% else %}

      <!-- Loops through journals -->
      {% for journal in journals %}
      <a href="{% url 'journals:openJournal' journal.id %}" class="square">
        <div class="journal-title">{{ journal.title }}</div>

        <div class="journal-dates">
          <span class="updated">Updated: {{ journal.date_updated|date:"d, M, Y" }}</span>
          <span class="created">Created:{{ journal.date_created|date:"d M, Y" }}</span>
        </div>
      </a>
      {% endfor %} {% endif %}
    </section>
  </main>
</body>

</html>