{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'journals/images/Jabbel_Icon.ico' %}"
    />
    <link rel="stylesheet" href="https://use.typekit.net/mwa1ymd.css" />
    <title>Jabbel</title>
    {% block extra_css %}{% endblock %}
  </head>

  <!-- HEADING BAR PARENT CONTAINER -->
  <body>
    <nav class="navbar">
      <!-- LEFT: LOGO CONTAINER -->
      <div class="nav-section left">
        <div class="logo-box">
          <img
            src="{% static 'journals/images/Jabbel_Icon.png' %}"
            alt="Jabbel Logo"
          />
        </div>
      </div>

      <!-- MIDDLE: NAV BUTTON CONTAINER -->
      <div class="nav-section center">
        <a href="{% url 'journals:home' %}" class="nav-btn">Home</a>
        <a href="#" class="nav-btn">Journals</a>
        <a href="#" class="nav-btn">Contact</a>
        <a href="#" class="nav-btn">About</a>
      </div>

      <!-- RIGHT: LOGIN BUTTON CONTAINER -->
      <div class="nav-section right">
        <a href="{% url 'users:register' %}" class="signUp-btn">Sign Up</a>
        <p class="divider">|</p>
        <a href="{% url 'users:register' %}" class="signUp-btn">Login</a>
      </div>
    </nav>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
