.modal {
    display: none;      /* Keeps it hidden */
    position: fixed;    /* Sits on top of everything */
    z-index: 1000;      /* Ensure it's the top layer */
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.4); /* Dim the background */
}

.modal-content {
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    
    /* Gradient Border Logic */
    border: 5px solid transparent;
    background-image: linear-gradient(white, white), var(--main-gradient);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}