:root {
    --grad-start: #ff5e62;
    --grad-end: #ff9966;
    --main-gradient: linear-gradient(to bottom, var(--grad-start), var(--grad-end));
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --bg-light: #f9fafb;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "verdana-pro", sans-serif;
    background-color: var(--bg-light);
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-dark);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;
}

/* --- HEADER SECTION --- */
.entryHeader {
    height: 80px;
    padding: 0 40px;
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    bottom: 0; 
    width: 100%;
}

.journal-header {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 60%;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.back-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--grad-start);
    background-color: transparent;
    color: var(--grad-start);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.back-btn svg {
    width: 20px;
    height: 20px;
    stroke: currentColor;
    stroke-width: 2.5;
    fill: none;
}

.back-btn:hover {
    background: var(--main-gradient);
    background-origin: border-box;
    border-color: transparent;
    color: white;
    box-shadow: 0 4px 12px rgba(255, 94, 98, 0.3);
    transform: translateY(-2px);
}

.icon-Box {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    color: #1C274C;
    transition: all 0.2s ease;
    cursor: pointer;
}

.icon-Box svg {
    width: 100%;
    height: 100%;
}

.icon-Box:hover {
    background: var(--main-gradient);
    background-origin: border-box;
    border-color: transparent;
    color: white;
    box-shadow: 0 4px 12px rgba(255, 94, 98, 0.3);
    transform: translateY(-2px);
}

.wrapper {
    width: 80%;
    flex: 1;
    margin: 2% auto;
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.journal-content {
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    min-height: 300px;
    outline: none;
}

#journal-content:focus {
    outline: none;
}

#journal-content:focus-visible {
    outline: none;
}
